@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background-color: rgb(247, 239, 230);
}

header {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 500;
}

.fondo {
  height: 30rem;
  background-image: url(./assets/header_fondo.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
}

.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 0.4rem 1.4rem;
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 2rem;
}

.bn36 {
  border-color: #fff;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.bn47 {
  position: relative;
  padding: 0.5rem 2rem 0 2rem;
  color: #b9ced3;
  font-weight: 600;
  font-size: 18px;
  border: 3px solid #b9ced3;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.bn47:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bn47:hover {
  padding: 0.75rem 2.25rem;
}

.bn47:hover:before {
  top: 0;
  left: 0;
}

.icon {
  color: rgb(64, 105, 64);

  font-size: 8rem;
  border-radius: 5rem;
  padding: 5px;
  border: 1px solid rgb(64, 105, 64);
}
